:root {
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.my-container {
  padding: 2% ;
}

.card {
  padding: 1%;
  background-color: var(--glass);
  border-radius: 7px;
  box-shadow: var(--boxShadow);
  text-align: center;
}

.image-upload {
  padding: 1%;
  border: 1px dashed green;
  border-radius: 7px;
  text-align: center;
}

.onHover {
  cursor: pointer;
}

.file-details {
  display: flex;
  font-size: 0.8rem;
}

.file-image {
  font-size: 1.2rem;
}

.index-no {
  width: 5%;
}

.file-name {
  width: 30%;
}

.file-view {
  width: 7%;
}

.onHover:hover {
  color: rgb(221, 3, 68);
}

.card-margin {
  padding: 1%;
  padding-left: 30%;
  border-radius: 7px;
  border: 1px dashed green;
}

.view-file-card {
  padding: 1%;
  background-color: var(--glass);
  border-radius: 7px;
  box-shadow: var(--boxShadow);
  margin-top: 2%;
  text-align: left;
}

.table-page-number {
  margin-top: -60px !important;
}

.select-image-input {
  padding: 1%;
  display: none;
}

#image-upload-heading {
  margin-top: 1%
}

#select-image {
  margin-top: 2%
}

#loader-conatiner {
  padding: 8%;
  padding-top: 4%;
}

#loader-card {
  padding: 3%;
  padding-bottom: 4%;
  background-color: var(--glass);
  border-radius: 7px;
  box-shadow: var(--boxShadow);
}

#loader-progressbar{
  margin-top: 2%;
}

#loader-label {
 font-size: 1rem;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .card-margin {
    padding-left: 1%;
  }

  .index-no {
    width: 3%;
  }
  
  .file-name {
    width: 90%;
  }
  
  .file-view {
    width: 7%;
  }
}
